@page "/match/{Id:int}"
@using Frontend.Data
@inject Matches Matches

<h3>Match</h3>
<h1>@Id</h1>
@foreach (var match in Matches.Data)
{
    <p>@match.Key</p> 
    @foreach (var player in match.Value)
    {
        <p>@player.Value</p>
    }
}
@code {
    [Parameter] 
    public int Id { get; set; }
}