@page "/PlayedMatches"
@using System.Globalization
@using System.Runtime.Serialization
@using Frontend.Data
@inject HttpClientService HttpClientService

<h3>PlayedMatches</h3>

<PlayedMatchesGrid></PlayedMatchesGrid>

@code {

}